@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Overpass:400,700,600,800");
* {
  box-sizing: border-box;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
